<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDg516qelWCEU7RiQA29LiFA67WVPIoHjw</string>
	<key>GCM_SENDER_ID</key>
	<string>80089306082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.padariavinhos</string>
	<key>PROJECT_ID</key>
	<string>padariavinhos-1f842</string>
	<key>STORAGE_BUCKET</key>
	<string>padariavinhos-1f842.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80089306082:ios:8d52534ff0067813551fbb</string>
	<key>DATABASE_URL</key>
	<string>https://padariavinhos-1f842-default-rtdb.firebaseio.com</string>
</dict>
</plist>